.newEdit {
  border-radius: 5px;
  display: none;
}
.img {
  display: block;
  margin: 14px auto 8px;
}
p {
  text-align: center;
}
p.highlight {
  font-weight: 700;
}
p.price {
  color: red;
}
.skeleton {
  border: "1px solid #ccc";
  display: "block";
  padding: "1rem";
  width: 100;
}

.btnPay{
  display: block;
  margin: 0px auto 16px;

}
.title{
  text-transform: uppercase;
  color: #333;
  margin-left: -12px;
}
.itemPhone{
  color: #000 !important;
  text-decoration: none !important;
}
.phoneName  {
  margin-top: 12px;
  font-weight: 700;
  font-size: 1.3rem;
}
.phonePrice {
  color:red;
  font-style: italic;
  font-weight: 500;
  font-size: 1.1rem;
}
.detailInfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}